body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  /* text-underline-position:from-font; */
  text-decoration: none;
  color: #4d5ae5;
  text-transform: uppercase;
}

.header-about .container .home-navbar-top-line .logo {
  margin-right: 76px;
}

.logo .span {
  color: #2e2f42;
}

.header-about {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  display: flex;
}

.header-about .div .container {
  display: flex;
  width: 1158px;
  padding: 0 15px;
}

.header-ul-top-line .list .etiket {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  /* text-underline-position: from-font; */
  text-decoration: none;
  color: #2e2f42;
  border-bottom: 1px solid #e7e9fc;
}

.header-about .home-navbar-top-line {
  display: flex;
  align-items: center;
}

.header-ul-top-line .list .etiket:hover,
.header-ul-top-line .list .etiket:focus {
  color: #404bbf;
}

.address-top-line .address-link .list .adress-etiket {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  /* text-underline-position: from-font; */
  text-decoration: none;
  color: #434455;
}
.address-top-line {
  font-style: normal;
}

.address-top-line .address-link .list .adress-etiket:hover,
.address-top-line .address-link .list .adress-etiket:focus {
  color: #404bbf;
}

.section-hero-image {
  background-color: #2e2f42;
  color: #ffffff;
  text-align: center;
}

.section-one-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  /* text-underline-position: from-font; */
  text-decoration: none;
}

.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  /* text-underline-position: from-font; */
  text-decoration: none;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.section-one-features .section-title {
  display: none;
}

.section-two-team-cards .container .section-ul .list {
  display: block;
}

.section-one-features .section-ul .list .subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-one-features .section-ul .list .text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-two-team-cards {
  background-color: #f4f4fd;
}

.section-two-title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  line-height: 1.11;
}

.section-three-header .section-ul .list .subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-three-header .section-ul .list .text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-three-header .section-header {
  font-size: 36px;
  line-height: 1.11;
}

.team-section-li-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-section-li-p {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-two-team-cards .section-ul .list {
  background-color: #ffffff;
}

.section-three-header .section-header {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
}
.section-three-header .container .section-ul-list {
  display: block;
}

.footer {
  background-color: #2e2f42;
}
.footer .logo .span {
  color: #2e2f42;
}

.footer .text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
